<p id="notice"><%#= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<ul>
  <% if @reservations != nil %>

  <% @reservations.each do |r| %>
  <div class="reservation"
    <p>Restaurant Name: <%= r.restaurant.name %><br/>
    Description: <%= r.restaurant.summary %><br/>
    Party size: <%= r[:party_size] %><br/>
    Meal Time: <%= r[:meal_time] %></p>

    <p><%= link_to "Cancel Reservation", restaurant_reservation_path(r.restaurant, r), :confirm => "Are you sure you wish to cancel?", :method => :delete %></p>
  </div>

  <% end %>
</ul>


  <% else %>

  <%= link_to "View Restaurants to get started", restaurants_path %>

  <% end %>


<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->

